@model LicenseManager.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h2>Client Details</h2>

<div>
   
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <!-- Add more rows as needed -->
    </table>
</div>

<br><br>
<h4>Licensed Applications</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientApplicationMappings.FirstOrDefault().LicenseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientApplicationMappings.FirstOrDefault().FkApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientApplicationMappings.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientApplicationMappings.FirstOrDefault().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientApplicationMappings.FirstOrDefault().ActivationsCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientApplicationMappings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkApplication.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivationsCount)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
