@model LicenseManager.ViewModels.ClientApplicationLicenseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>New License Creation</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*  <div class="form-group">
                <label asp-for="LicenseId" class="control-label"></label>
                <input asp-for="LicenseId" class="form-control" value="@ViewBag.LicenseId" disabled />
                <span asp-validation-for="LicenseId" class="text-danger"></span>
            </div>  *@

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ClientApplicationMapping.FkClientId" class="control-label">Customer</label>
                    @Html.DropDownListFor(model => model.ClientApplicationMapping.FkClientId, (SelectList)ViewBag.Clients, "Select Client", new { @class = "form-control" })
                    <span asp-validation-for="ClientApplicationMapping.FkClientId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="ClientApplicationMapping.FkApplicationId" class="control-label">Application</label>
                    @Html.DropDownListFor(model => model.ClientApplicationMapping.FkApplicationId, (SelectList)ViewBag.Applications, "Select Application", new { @class = "form-control" })
                    <span asp-validation-for="ClientApplicationMapping.FkApplicationId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="ClientApplicationMapping.StartDate" class="control-label"></label>
                    <input asp-for="ClientApplicationMapping.StartDate" class="form-control" type="date" />
                    <span asp-validation-for="ClientApplicationMapping.StartDate" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ClientApplicationMapping.EndDate" class="control-label"></label>
                    <input asp-for="ClientApplicationMapping.EndDate" class="form-control" type="date" />
                    <span asp-validation-for="ClientApplicationMapping.EndDate" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ClientApplicationMapping.ActivationsCount" class="control-label"></label>
                    <input asp-for="ClientApplicationMapping.ActivationsCount" class="form-control" type="number" min="1" />
                    <span asp-validation-for="ClientApplicationMapping.ActivationsCount" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @* <div class="form-group">
                        <label asp-for="ClientApplicationMapping.LicenseId" class="control-label"></label>
                        <input asp-for="ClientApplicationMapping.LicenseId" class="form-control" value="@ViewBag.LicenseId" />
                        <span asp-validation-for="ClientApplicationMapping.LicenseId" class="text-danger"></span>
                    </div> *@
                    <input asp-for="ClientApplicationMapping.LicenseId" type="hidden" value="@ViewBag.LicenseId" />
                </div>
            </div>


            @{
                var index = 0;
            }

            <h3>Assign Features</h3>
            <div style="max-height:400px; overflow-y:auto; border:1px solid #ccc; padding:10px; width: 100%;">

                <table class="table table-bordered table-striped table-sm" style="width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 20%;">Group Name</th>
                            <th style="width: 20%;">Name</th>
                            <th style="width: 20%;">Total UsageCount</th>
                            <th style="width: 20%;">Attribute</th>
                            <th style="width: 20%;">Attribute2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in (List<LicenseManager.Models.FeatureGroup>)ViewBag.FeatureGroups)
                        {
                            foreach (var feature in group.Features)
                            {
                                <tr>
                                    <td>
                                        @group.Name
                                        <input type="hidden" name="LicensedFeatures[@index].GroupName" value="@group.Name" />
                                    </td>
                                    <td>
                                        @feature.Name
                                        <input type="hidden" name="LicensedFeatures[@index].Name" value="@feature.Name" />
                                    </td>
                                    <td>
                                        <select class="form-control form-control-sm" name="LicensedFeatures[@index].TotalUsageCount" style="max-width: 80px;">
                                            <option value="-1">--</option>
                                            @for (int j = 1; j <= 100; j++)
                                            {
                                                var selected = Model.LicensedFeatures.Count > index && Model.LicensedFeatures[index].TotalUsageCount == j ? "selected" : null;
                                                <option value="@j" selected="@selected">@j</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="LicensedFeatures[@index].Attribute" value="@(Model.LicensedFeatures.Count > index ? Model.LicensedFeatures[index].Attribute : "")" class="form-control form-control-sm" />
                                    </td>
                                    <td>
                                        <input type="text" name="LicensedFeatures[@index].Attribute2" value="@(Model.LicensedFeatures.Count > index ? Model.LicensedFeatures[index].Attribute2 : "")" class="form-control form-control-sm" />
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
