@model LicenseManager.ViewModels.ClientApplicationLicenseViewModel

@{
    ViewData["Title"] = "License Details";
}

<h2>License Details</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" style="font-weight : bold">Customer</label>
                    <input class="form-control" value="@Model.ClientApplicationMapping.FkClient?.Name" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" style="font-weight : bold">Application</label>
                    <input class="form-control" value="@Model.ClientApplicationMapping.FkApplication?.Name" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Start Date</label>
                    <input class="form-control" value="@Model.ClientApplicationMapping.StartDate.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">End Date</label>
                    <input class="form-control" value="@Model.ClientApplicationMapping.EndDate.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Activations Count</label>
                    <input class="form-control" value="@Model.ClientApplicationMapping.ActivationsCount" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">License ID</label>
                <input class="form-control" value="@Model.ClientApplicationMapping.LicenseId" readonly />
            </div>

            <br />

            <h3>Assigned Features</h3>
            <div style="max-height:400px; overflow-y:auto; border:1px solid #ccc; padding:10px; width: 100%;">
                <table class="table table-bordered table-striped table-sm" style="width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th>Group Name</th>
                            <th>Name</th>
                            <th>Total UsageCount</th>
                            <th>Attribute</th>
                            <th>Attribute2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.LicensedFeatures.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input class="form-control" value="@Model.LicensedFeatures[i].GroupName" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@Model.LicensedFeatures[i].Name" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@Model.LicensedFeatures[i].TotalUsageAllowed" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@Model.LicensedFeatures[i].Attribute" readonly />
                                </td>
                                <td>
                                    <input class="form-control" value="@Model.LicensedFeatures[i].Attribute2" readonly />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.ClientApplicationMapping.Id">Edit</a> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>