@model IEnumerable<LicenseManager.Models.ClientApplicationMapping>

@{
    ViewData["Title"] = "Index";
}


<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">License</h2>
        <a asp-action="Create" class="btn btn-success">+ Create New</a>
    </div>

    @if (!Model.Any())
    {
        <div class="alert alert-info">No licenses found.</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LicenseId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FkClient)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FkApplication)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivationsCount)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseId)
                            <a asp-action="Download" asp-route-id="@item.Id">Download</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FkClient.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FkApplication.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivationsCount)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>